.section {
    margin: 3em;
    margin-top: 4em;
    width: auto;
    height: auto;


}

.section p {
    width: 70%;
    font-size: 1.2em;
    color: #0c5b6f;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;

}

h1 {
    font-size: 2.8em;
    text-decoration: none;
    color: #7bbd63;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0;

}

h2 {
    font-size: 1.5em;
    text-decoration: none;
    color: #7bbd63;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.rowEvent2 {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.colEvent {
    height: auto;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.colimg {
    height: auto;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.colimg img {
    width: 100%;
    height: auto;
    margin: auto;

}

.colEvent img {
    width: 100%;
    height: auto;
    margin: auto;

}

#sub {
    margin-top: 0em;
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;

    color: #7bbd63;
    margin-bottom: 2em;
}

.process {
    margin-top: 3em;
    margin-bottom: 4em;
}

@media screen and (max-width: 769px) {
.colEvent {
    height: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.colimg {
    height: auto;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
.section {
    margin: 3em;
    margin-top: 2em;
    width: auto;
    height: auto;


}
.process {
    margin-top: 1em;
    margin-bottom: 2em;
}
.section p {
    width: 85%;
    font-size: 1.1em;
    color: #0c5b6f;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;

}
    
    h1 {
    font-size: 2.5em;
    text-decoration: none;
    color: #7bbd63;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0;

}

h2 {
    font-size: 1.3em;
    text-decoration: none;
    color: #7bbd63;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
}

@media screen and (max-width: 550px) {

    h1 {
    font-size: 2em;
}
    
 #sub {
    margin-top: 0em;
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;
    color: #7bbd63;
    margin-bottom: 1em;
}

}

@media screen and (max-width: 410px) {
 h1 {
    font-size: 1.2em;
}
    h2 {
    font-size: 1em;
    
}
    .section p {
    width: 100%;
    font-size: 0.9em;
   

}
 #sub {
    margin-top: 0em;
    text-align: center;
    font-size: 0.7em;
    font-weight: 500;
    color: #7bbd63;
    margin-bottom: 1em;
}

.colEvent {
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.colimg {
    height: auto;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.section {
    margin: 2em;
    margin-top: 0em;
    width: auto;
    height: auto;


}
}