@media screen and (min-width: 1120px) {

    .section {
        margin: 3em;
        margin-top: 5em;
        width: auto;
        height: auto;


    }

    .section p {
        margin-left: 20%;
        margin-right: 20%;
        font-size: 1.2em;

    }

    h1 {
        font-size: 2.5em;
        text-decoration: none;
        color: #12839f;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }

 h2 {
        font-size: 1.5em;
        text-decoration: none;
        color: #12839f;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .rowEvent2 {
        display: flex;
        margin: 2em 5em;
        flex-flow: wrap;



    }

    .colEvent {
        height: auto;
        width: 67%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    .colEvent img {
        width: 100%;
        height: 100%;
        margin: auto;

    }

}
