

h1 {
    color:	#5f8c4b;
    
}

h2 {
  color: #12839f;  
    
    padding-bottom: 0.2em;
}
.se{
margin: 3em;

}


img {
width: 30%;
    height: auto;
}

#level3 {
    color: #0c5b6f;
}
