.intro {
    width: 100%;
    height: auto;
}

.intro p {
    width: 60%;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
    font-size: 2.2em;
    color: #0c5b6f;
    padding: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;


}

.pow {
    /*    width: 100%;*/
    height: auto;
    display: flex;
    margin: 3em;
}

#project {
    width: 50%;
    height: auto;
    position: relative;
}

.pow img {
    height: 28em;
    width: 100%;

}

.overlay {
    position: absolute;
    top: 0;
    height: 28em;
    width: 100%;
    opacity: 0;
    background-color: #88c1cf;
}

.overlay2 {
    position: absolute;
    top: 0;
    height: 28em;
    width: 100%;
    opacity: 0;
    background-color: #9781cd;
}

#project:hover .overlay {
    opacity: 0.75;
    transition: .3s ease;
}

#project:hover .overlay2 {
    opacity: 0.75;
    transition: .3s ease;
}

.text {
    color: white;
    text-align: center;
    font-size: 3.5em;
    width: 70%;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

}
