.intro {
    width: auto;
    height: auto;
    display: block;
}

#intro {
    width: 50%;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    color: #0c5b6f;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;


}

.about p {

    width: 50%;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    color: #0c5b6f;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;


}


h1 {
    width: 50%;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
    font-size: 2em;
    color: #7bbd63;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-top: 2em;
    margin-right: auto;
}

h2 {
    width: 50%;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
    font-size: 2.5em;
    color: #7bbd63;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-top: 2em;
    margin-right: auto;
}

.introSub {
    position: relative;
    height: auto;
    width: 100%;
    padding-top: 3em;
    padding-bottom: 4em;

}

.introSub img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;

}

#sub {
    position: relative;
    margin-top: -6.5%;
    display: block;
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
    font-size: 200%;
    color: #7bbd63;
}

@media screen and (max-width: 1334px) {
    #sub {
        position: relative;
        margin-top: -6.5%;
        display: block;
        text-align: center;
        font-family: 'Hind Siliguri', sans-serif;
        font-weight: 500;
        font-size: 150%;
        color: #7bbd63;
    }
}

@media screen and (max-width: 768px) {
    h2 {
        width: 50%;
        font-size: 2em;
    }

    h1 {
        font-size: 1.8em;
    }

    #intro {
        width: 70%;
        font-size: 1.1em;

    }

    .about p {
        width: 70%;
        font-size: 1.1em;

    }

    .introSub {
        position: relative;
        height: auto;
        width: 100%;
        padding-top: 1em;
        padding-bottom: 2em;
    }

    .introSub img {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;

    }


}

@media screen and (max-width: 930px) {
    #sub {
        position: relative;
        margin-top: -6%;
        display: block;
        text-align: center;
        font-family: 'Hind Siliguri', sans-serif;
        font-weight: 500;
        font-size: 150%;
        color: #7bbd63;
    }

    figure {
        width: 100%;
        /*container-width*/
        overflow: hidden;
        /*hide bounds of image */
        margin: 0;
        /*reset margin of figure tag*/
    }

}

@media screen and (max-width: 500px) {
    .introSub img {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
    }

    figure {
        width: 100%;
        /*container-width*/
        overflow: hidden;
        /*hide bounds of image */
        margin: 0;
        /*reset margin of figure tag*/
    }

    #sub {
        position: relative;
        margin-top: -10%;
        display: block;
        text-align: center;
        font-family: 'Hind Siliguri', sans-serif;
        font-weight: 500;
        font-size: 150%;
        color: #7bbd63;
    }



}

@media screen and (max-width: 414px) and (min-width: 0px) {
    /*
.introSub img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    
}

    #sub {
    position: relative;
    margin-top: -8%;
    display: block;
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #7bbd63;
}
*/

    figure {
        width: 100%;
        /*container-width*/
        overflow: hidden;
        /*hide bounds of image */
        margin: 0;
        /*reset margin of figure tag*/
    }

    #sub {
        position: relative;
        margin-top: -9%;
        display: block;
        text-align: center;
        font-family: 'Hind Siliguri', sans-serif;
        font-weight: 500;
        font-size: 80%;
        color: #7bbd63;
    }

}
