body {
    margin: 0em;
    background-color: #fbfafa;
    font-family: 'Hind Siliguri', sans-serif;
}

.a {
    width: 0.5em;
    height: 0.5em;
    background-color: #5f8c4b;
    border-radius: 100px;
    position: fixed;
    opacity: 0.6;
    top: 10em;
}

.b {
    width: 0.7em;
    height: 0.7em;
    background-color: #12839f;
    border-radius: 100px;
    position: fixed;
    opacity: 0.6;
    top: 20em;
    left: 15em;
}

.c {
    width: 0.7em;
    height: 0.7em;
    background-color: #0c5b6f;
    border-radius: 100px;
    position: fixed;
    opacity: 0.6;
    right: 15em;
}

.d {
    width: 0.8em;
    height: 0.8em;
    background-color: #5f8c4b;
    border-radius: 100px;
    position: fixed;
    opacity: 0.6;
    right: 5em;
    top: 2em;
}

.e {
    width: 0.8em;
    height: 0.8em;
    background-color: #5f8c4b;
    border-radius: 100px;
    position: fixed;
    opacity: 0.6;
    right: 5em;
    top: 2em;
}

.f {
    width: 0.8em;
    height: 0.8em;
    background-color: #5f8c4b;
    border-radius: 100px;
    position: fixed;
    opacity: 0.6;
    right: 5em;
    top: 2em;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #88c372;
    border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6eaa59;
}


.img {
    display: inline-block;
    width: auto;
    height: auto;

}

.img img {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 3em;

}

.navMain a {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    text-decoration: none;
    display: inline-block;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #5f8c4b;
    border-style: none;
    transition: 0.3s;
}


.navMain a:hover {

    border-style: none;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #12839f;
    transition: 0.2s;
}

.navMain {
    flex-flow: nowrap;
    text-align: center;
    display: flex;
    align-items: center;

    height: 3em;
    padding-top: 2em;
    padding-bottom: 1em;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;

}

#home {
    color: #12839f;
}

footer {
  
    background-color: #7bbd63;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 11em;
}

footer a {
    
    text-decoration: none;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    display: inline-block;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
    border-style: none;
    transition: 0.3s;
}

footer a:hover {

    border-style: none;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #12839f;
    transition: 0.2s;
}

@media screen and (max-width: 768px) {
    .navMain {
        flex-flow: nowrap;
        text-align: center;
        display: flex;
        align-items: center;
        height: 3em;
        padding-top: 2em;
        padding-bottom: 1em;
        justify-content: space-between;
        padding-left: 8%;
        padding-right: 8%;

    }
}


@media screen and (max-width: 680px) {
    .navMain {
        flex-flow: nowrap;
        text-align: center;
        display: flex;
        align-items: center;
        height: 3em;
        padding-top: 1em;
        padding-bottom: 1em;
        justify-content: space-between;
        padding-left: 1em;
        padding-right: 1em;

    }

    .navMain a {
        font-family: 'Hind Siliguri', sans-serif;
        font-weight: 500;
        font-size: 0.7em;
        text-decoration: none;
        display: inline-block;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        color: #5f8c4b;
        border-style: none;
        transition: 0.3s;
    }

    .navMain a:hover {

        border-style: none;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        color: #12839f;
        transition: 0.2s;
    }
footer a {
    font-size: 0.7em;
    transition: 0.3s;
}
}

@media screen and (max-width: 355px) {
    .navMain a {
        font-size: 0.5em;
        transition: 0.3s;
    }
    footer a {
    font-size: 0.5em;
    transition: 0.3s;
}


}

@media screen and (max-width: 280px) {
    .navMain a {
        font-size: 0.3em;
        transition: 0.3s;
        margin-left: 0.5em;
        margin-right: 0.5em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .navMain a:hover {

        border-style: none;
        margin-left: 0.5em;
        margin-right: 0.5em;
        margin-top: 1em;
        margin-bottom: 1em;
        color: #12839f;
        transition: 0.2s;
    }
footer a {
    font-size: 0.3em;
    transition: 0.3s;
}
}
