body{
margin:3em;
    background-color: #fbfafa;
font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Hind Siliguri', sans-serif;
}


h1 {
    color:	#5f8c4b;
    
}

h2 {
  color: #12839f;  
    
    padding-bottom: 0.2em;
}

p a{
text-decoration: none;
    color: #12839f; ;

}

p a:hover{
text-decoration: none;
    color: 	#ffd700;

}


.navMain a{
text-decoration: none;
    display: inline-block;
    color:	#5f8c4b;
    margin: 1em;
     padding-bottom: 0.2em;
    border-color: transparent;
     border-bottom-style: solid;

}

.navMain a:hover{
 color: #12839f;
    border-bottom-style: solid;
    display: inline-block;
    padding-bottom: 0.2em;

}


